footer {
  background: $brand-gradient;
  padding-bottom: 6rem;
  .top-f {
    z-index: 15;
    width: 100%;
    height: 8rem;
    background-color: $brand-yellow;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-primary {
      width: 100%;
      filter: none;
      display: flex;
      justify-content: center;
      button {
        width: 100%;
        max-width: 35%;
        font-size: 3rem;
        padding: 1rem 2rem 1rem 2rem;
        background-color: $brand-blue;
        color: $brand-white;
        transform: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.02);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
        }
      }
    }
  }
  .container {
    margin-top: 6rem;
    .botton-f {
      display: flex;
      height: 35rem;
      .botton-left {
        border-right: 2px solid #ffffff;
        width: 100%;
        max-width: 77.2rem;

        margin-top: 10px;
        padding-right: 4rem;

        .top-left-f {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7.7rem;

          .logo-f {
            display: flex;
            gap: 3rem;
          }
          .social-f {
            display: flex;
            gap: 2rem;
            img {
              height: 2.2rem;
              transition: opacity 0.3s;
              &:hover {
                opacity: 60%;
              }
            }
          }
        }
        .mid-f {
          display: flex;
          justify-content: flex-start;
          gap: 11.7rem;
          ul {
            li {
              transition: transform 0.3s;
              &:hover {
                transform: translateX(5px);
              }
              &:not(:last-child) {
                margin-bottom: 1rem;
              }

              a {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 15px;
                text-transform: uppercase;
                color: $brand-white;
              }
            }
          }
        }
        .dir-f {
          margin-top: 7.2rem;
          padding-bottom: 3rem;
          p {
            font-family: Arial, Helvetica, sans-serif;
            color: $brand-white;
            font-size: 1.2rem;
          }
        }
      }
      .botton-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4rem;
      }
      .dir-f.mobile {
        display: none;
        margin-top: 3.5rem;
        p {
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          color: $brand-white;
          font-size: 1.2rem;
        }
      }
    }
  }
  @include responsive(1050px) {
    .top-f {
      .btn-primary {
        button {
          max-width: 60%;
          font-size: 3rem;
        }
      }
    }
  }
  @include responsive(950px) {
    .top-f {
      .btn-primary {
        button {
          max-width: 70%;
          font-size: 3rem;
        }
      }
    }
  }
  @include responsive(750px) {
    height: 100vh;
    .container {
      .botton-f {
        width: 100%;
        flex-direction: column;
        margin: auto;
        .botton-left {
          padding: 0;
          border-right: none;
          border-bottom: 2px solid #ffffff;
          padding-bottom: 5rem;
          .top-left-f {
            flex-direction: column;
            align-items: center;
            .logo-f {
              width: 40%;
              margin-bottom: 2rem;
            }
          }
          .mid-f {
            justify-content: center;
            gap: 9rem;
          }
          .dir-f {
            display: none;
          }
        }
        .botton-right {
          padding: 0;
          margin-top: 5rem;
          img {
            width: 50%;
          }
        }
        .dir-f.mobile {
          display: block;
        }
      }
    }
    .top-f {
      .btn-primary {
        button {
          max-width: 60%;
          font-size: 2.2rem;
        }
      }
    }
  }
  @include responsive(480px) {
    height: 100vh;
    .container {
      .botton-f {
        width: 100%;
        flex-direction: column;
        margin: auto;
        .botton-left {
          padding: 0;
          border-right: none;
          border-bottom: 2px solid #ffffff;
          padding-bottom: 5rem;
          .top-left-f {
            flex-direction: column;
            align-items: center;
            .logo-f {
              width: 40%;
              margin-bottom: 2rem;
            }
          }
          .mid-f {
            justify-content: center;
            gap: 9rem;
          }
          .dir-f {
            display: none;
          }
        }
        .botton-right {
          padding: 0;
          margin-top: 5rem;
          img {
            width: 70%;
          }
        }
        .dir-f.mobile {
          display: block;
        }
      }
    }
    .top-f {
      .btn-primary {
        button {
          max-width: 90%;
          font-size: 2.2rem;
        }
      }
    }
  }
}
