header {
  z-index: 500;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;

  .container {
    .box-h {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 0;
      .logo-h {
        display: flex;
        gap: 3rem;
      }
      nav {
        ul {
          display: flex;
          gap: 3rem;

          li {
            font-size: 1.6rem;
            a {
              font-family: 'Inter', sans-serif;
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 1.9rem;
              color: $brand-white;
              transition: color 0.3s;
              &.active {
                color: $brand-yellow;
              }
              &:hover {
                color: $brand-yellow;
              }
            }
          }
        }
      }
    }
    .icon-mobile {
      display: none;
    }
  }
  @include responsive(950px) {
    .container {
      .box-h {
        .logo-h {
          width: 100%;
          max-width: 20%;
        }
        nav {
          ul {
            display: flex;
            gap: 3rem;

            li {
              a {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
  @include responsive(750px) {
    .container {
      .box-h {
        .logo-h {
          width: 100%;
          max-width: 20%;
        }
        nav {
          ul {
            display: flex;
            gap: 3rem;

            li {
              a {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
  @include responsive(680px) {
    .container {
      .box-h {
        .logo-h {
          width: 100%;
          min-width: 40%;
        }
        nav {
          display: none;
          ul {
            display: flex;
            gap: 3rem;

            li {
              a {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
      .icon-mobile {
        display: block;
      }
    }
  }
}

@include responsive(480px) {
  header {
    height: 6rem;
    .container {
      .box-h {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
      }
    }
  }
}

.menu-modos {
  display: none;
  transform: tranlatey(0);
  z-index: 1001;
  position: relative;
  filter: blur(10px);
  transition: all 0.5s;
  .box-nav {
    z-index: 1002;
    width: 100%;
    max-width: 67rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.6rem;
      padding: 1.2rem;
      .img-modos {
        background: url(../img/bg-gp.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
      .img-modos.zero {
        background: url(../img/zerowar.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .img-modos.criativo {
        background: url(../img/criativo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .img-modos.salve {
        background: url(../img/salveomundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      li {
        opacity: 80%;
        transition: transform 0.3s ease;
        &:hover {
          opacity: 100%;
          transform: translateX(3px);
        }
        &:not(:last-child) {
          margin-right: 3rem;
        }

        a {
          color: rgb(26, 7, 133);
        }
      }
    }
  }
}

.menu-modos.active {
  display: block;
  transform: translatey(1);
  filter: none;
}
